<section class="contact">
  <ul>
    <li>
      <a href="https://medium.com/@allyellujah" target="_blank">
        <i class="fab fa-medium"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/allyevice/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/allyellujah" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/allyellujah" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li><a href="mailto:hello@allyevice.com"><i class="fas fa-envelope"></i></a></li>
  </ul>
</section>
