//----------------------------------------------------------------
// Screen Size Name:   "kick-in" size;
//----------------------------------------------------------------
$xsmallScreen:        480px;
$smallScreen:         640px;
$mediumScreen:        768px;
$largeScreen:         1024px;
$xlargeScreen:        1200px;

$max-width:           1366px;
$inner-wrapper-width: 1266px;

//----------------------------------------------------------------
// Colors
//----------------------------------------------------------------
$bgColor:             #ECEFF0;

$lightPurple:         #8b8093;
$darkPurple:          #645565;



//----------------------------------------------------------------
// Typography
//----------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Lato');

$textColor:           black;
