
html {
	font-size: 62.5%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
}
